.startButton {
  background-color: #ffcc00;
  color: #000000;
}

.actionButton:hover {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
  cursor: pointer;
}

.deciderButtons {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.deciderQuestion {
  margin-bottom: 10px;
  width: 680px;
  height: 200px;
  margin: 40px auto;
  background-image: url("../assets/img/question_box.png");
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.deciderQuestion h4 {
  font-weight: bold;
}

.deciderQuestion h5 {
  padding-top: 50px;
}

.deciderAnswers {
  width: 1000px;
  height: 400px;
  margin: auto;
  position: relative;
}

.deciderAnswers div {
  cursor: pointer;
}

.deciderAnswers div:first-child {
  background-image: url("../assets/img/Bubble1.png");
  width: 320px;
  height: 320px;
  position: absolute;
  top: 100px;
  left: 160px;
  -webkit-animation: scale-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.deciderAnswers div:nth-child(2) {
  background-image: url("../assets/img/Bubble2.png");
  width: 420px;
  height: 220px;
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-animation: scale-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.deciderAnswers div:first-child:before {
  content: "";
  width: 220px;
  display: block;
  height: 220px;
  position: absolute;
  right: 48px;
  top: 0px;
}

.deciderAnswers div:nth-child(2):before {
  content: "";
  width: 220px;
  display: block;
  height: 220px;
  position: absolute;
  left: 54px;
  top: 0px;
}

.deciderAnswers div:first-child.Kopf:before {
  background-image: url("../assets/img/Kopf.png");
}

.deciderAnswers div:first-child.Hell:before {
  background-image: url("../assets/img/Hell.png");
}

.deciderAnswers div:first-child.Gross:before {
  background-image: url("../assets/img/Gross.png");
}

.deciderAnswers div:first-child.Laut:before {
  background-image: url("../assets/img/Laut.png");
}

.deciderAnswers div:nth-child(2).Bauch:before {
  background-image: url("../assets/img/Bauch.png");
}

.deciderAnswers div:nth-child(2).Dunkel:before {
  background-image: url("../assets/img/Dunkel.png");
}

.deciderAnswers div:nth-child(2).Klein:before {
  background-image: url("../assets/img/Klein.png");
}

.deciderAnswers div:nth-child(2).Leise:before {
  background-image: url("../assets/img/Leise.png");
}

.loadingOverlay {
  width: 100%;
  height: 100%;
  background: #fc0;
  color: #000;
  font-size: 40px;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-left {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    opacity: 1;
  }
}
@keyframes scale-in-left {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-right {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
}
@keyframes scale-in-right {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@media screen and (max-width: 768px) {
  .deciderQuestion {
    width: 380px;
    height: 100px;
    background-size: 100% auto;
  }

  .deciderQuestion h5 {
    padding-top: 24px;
  }

  .deciderAnswers {
    width: 360px;
  }

  .deciderAnswers div:first-child {
    width: 140px;
    height: 140px;
    top: 160px;
    left: 20px;
    background-size: 100% auto;
  }
  
  .deciderAnswers div:nth-child(2) {
    width: 180px;
    height: 92px;
    top: 40px;
    right: 10px;
    background-size: 100% auto;
  }
  
  .deciderAnswers div:first-child:before {
    width: 90px;
    height: 90px;
    right: 25px;
    top: 0px;
    background-size: 100%;
  }
  
  .deciderAnswers div:nth-child(2):before {
    width: 92px;
    height: 92px;
    left: 25px;
    top: 0px;
    background-size: 100%;
  }
}

