.listingContainer {
  width: 1000px;
  margin: auto;
}

.listingBlock {
  margin-bottom: 50px;
}

.listingProperty {
  display: flex;
}

.listingProperty--icon {
  margin-right: 10px;
}

.listingParticipate {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listingButton {
  margin: 10px;
}

.listing--further {
  color: grey;
  font-size: 12px;
}

.listing--further-heading {
  font-weight: bold;
  margin: 50px 0 0 0;
}

.listing--further-text {
  margin: 0 0 20px 0;
}

.listing--further-link {
  margin-right: 50px;
}
