.listingContainer {
  width: 1000px;
  margin: auto;
}

.einstellerImage {
  width: 230px;
  float: right;
  border-radius: 6px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5) !important;
}

.listingBlock {
  margin-bottom: 50px;
}

.listingBlock p {
  margin-bottom: 8px;
}

.listingBlock h3 {
  font-family: "Acme", sans-serif;
  width: 65%;
}

.listingBlock--participants {
  margin-bottom: 0;
}

.listingProperty {
  display: flex;
}

.listingProperty--icon {
  margin-right: 10px;
}

.listingParticipate {
  width: 470px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listingParticipate p {
  margin-bottom: 0;
}

.listingButton {
  margin: 10px;
}

.listing--further {
  color: grey;
  font-size: 12px;
}

.listing--further-heading {
  font-weight: bold;
  margin: 50px 0 0 0;
}

.listing--further-text {
  margin: 0 0 20px 0;
}

.listing--further-link {
  margin-right: 50px;
}

.rerollButton {
  position: fixed;
  right: -320px;
  top: 200px;
  width: 365px;
  background: #ffeda3;
  border-radius: 6px;
  border: none;
  height: 55px;
  color: #000;
  transition: right 1s;
  font-size: 22px;
}

.rerollButton:hover {
  right: -30px;
}

#instructionOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  flex-direction: column;
}

#instructionOverlay.active {
  display: flex;
}

#instructionOverlay div {
  width: 580px;
  margin: auto;
  border: 4px solid #000;
  background-color: #fff;
  padding: 40px;
  text-align: center;
  border-radius: 5px;
}

#instructionOverlay div h3 {
  font-family: "Acme", sans-serif;
  font-size: 48px;
  line-height: 61px;
  margin: 0px;
  text-align: left;
}

#instructionOverlay div p {
  text-align: left;
}
